.order_sou{float:right;line-height:28px;width: 85%;padding-top: 6px;position: relative;}
.order_sou input{border-radius:7px;width: 96%;color:#999;font-size: 16px;padding-left: 10px;line-height:32px;height:32px;-webkit-appearance:none;}
.order_sou img{position: absolute;right:7%;top:11px;width: 20px;}
.sou_count{background:#eee;height:125px;padding-right: 4%;padding-left: 4%;display:none;margin-top: 44px;}
.sousuo{height: 44px;line-height: 44px; position: absolute;right: 10px;top: 0;color:#fff;font-size: 13px;cursor: pointer;}
.sousuo img{width: 25px;}

.sort-tit{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; padding:10px; color:#6a94e7; margin:0;background:#fff;}
.sort-arat{overflow:hidden; background:#fff; margin-top: 80px;}
.sort-arat li{float:left;width:33.33333%;display:table;}
.sort-arat li a{display:table-cell;width:100%; line-height: 1.8; vertical-align:middle;text-align:center;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; height:100px;padding: 5% 0;}
.sort-arat li img{max-width:100px;width:100px; margin-bottom:5px;}
.brand-areat li a{width:auto; height:auto;}
.brand-areat li img{width:auto; margin:12% 0; max-width: 100px;width: 70%;}