/* .sty1{max-width:768px;margin:0 auto;height: 44px;position: relative;background:#000000;}
.sty2{text-align:center;background:#ccc;border-radius: 5px;border:none;height:34px;vertical-align:middle;clear:both;padding:0px;width:42px;} */

.header{height:44px;position: relative;}
.fix_nav{height:44px; line-height: 44px;top:0; left: 0; width: 100%; z-index:99;/* position: fixed; */}

.left-search .form-control{background:#fff url(../../assets/images/search.jpg) no-repeat 5px center; background-size: 25px;padding-left: 30px;margin-top:5px;}
.right-search .form-control{background:#fff url(../../assets/images/search.jpg) no-repeat right center; background-size: 25px; margin-top:5px;}